.apresentacao {
    padding: 5% 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    text-align: justify;
}

.apresentacao__imagem {
    width: 50%;
    border: 2px solid var(--cor-terciaria);
}

@media (max-width: 1290px){
    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }

    .apresentacao__conteudo__curriculo {
        display: flex;
    }

}