.apresentacao__curriculo {
    padding: 5% 15%;
}

.apresentacao__conteudo__curriculo {
    display: flex;
    flex-direction: column;
}

.apresentacao__conteudo__titulo__curriculo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
    padding: 20px 0;
}

.apresentacao__conteudo__texto__curriculo {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    text-align: justify;
    list-style-type: none;
    padding: 0 0 50px 0;
}

.apresentacao__conteudo__texto__curriculo__habilidades {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    text-align: justify;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.apresentacao__conteudo__texto__curriculo__habilidades li {
    margin-right: 0.93rem;
}

.apresentacao__conteudo__texto__curriculo__habilidades li:last-child/*Remove a margem direita do último item para evitar um espaço extra desnecessário.*/{
    margin-right: 0;
    padding-bottom: 50px;
}

.conteudo__habilidades{
    display: inline;
    margin-right: 0.62rem;
}

.certificado {
    color: var(--cor-terciaria);
    text-decoration: none;
}

.certificado:hover {
    color: var(--cor-hover);
}

@media (max-width: 1290px){
    .apresentacao__curriculo {
        font-size: 1.8rem;
        padding: 0 8%
    }

    .apresentacao__conteudo__titulo__curriculo {
        font-size: 1.5rem;
    }

}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {
    .apresentacao__curriculo {
        padding: 5%;
    }
}
