@import url('https://fonts.googleapis.com/css2?family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&family=Shadows+Into+Light&display=swap');

:root {
    --cor-principal: #FFC6C6;

    /* --fonte-menu: "Shadows Into Light", cursive; */
    --fonte-conteudo: "Sansita", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    box-sizing: border-box;
}

.cabecalho {
    background-color: var(--cor-principal);
    padding: 1.5% 0 1.5% 20%;  
}

.cabecalho__menu {
    display: flex;
    gap: 20px;
}

.cabecalho__menu__links {
    color: black;
    text-decoration: none;
    font-family: var(--fonte-conteudo);
    font-weight: 400;
    font-size: 1.25rem;
}

.cabecalho__menu__links:hover {
    color: white;
}

.apresentacao {
    background-color: #FFEBD4;
}

.container__imagem__mensagem {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
}    

.apresentacao__conteudo__imagem {
    text-align: center;
}

.apresentacao__conteudo__mensagem {
    text-align: center;
    font-family: var(--fonte-conteudo);
    font-size: 1.25rem;
}

img {
    width: 50%;
}

.mensagem__carta {
    margin: 0 10%;
}

.titulo__carta {
    text-align: center;
    font-family: var(--fonte-conteudo);
    font-size: 1.75rem;
    padding-top: 3%;
    padding-bottom: 1%;
}

.conteudo__carta {
    font-family: var(--fonte-conteudo);
    font-size: 0.93rem;
    text-align: center;
    padding-bottom: 2%;
}

.titulo__foto {
    text-align: center;
    font-family: var(--fonte-conteudo);
    font-size: 1.75rem;
    padding-top: 4%;
}

.area__fotos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.fotos {
    width: 400px;
    padding: 3rem;
}

.rodape {
    background-color: var(--cor-principal);
    gap: 20px;
    text-align: center;
    padding: 2% 0 1.5% 0;
    font-family: var(--fonte-conteudo);
    font-size: 1.25rem; 
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 5% 0%;
    }

    .cabecalho__menu {
        justify-content: center;      
    }

    .container__imagem__mensagem {
        justify-content: center;
        flex-direction: column;
    }

    .apresentacao__conteudo__mensagem {
        font-size: 0.6rem;
        margin: 0 3rem;
    }

    .titulo__carta {
        font-size: 1.3rem;
    }

    .mensagem__carta {
        margin: 0 3.75rem;
    }

    .titulo__foto {
        font-size: 1.3rem;
    }

    .fotos {
        width: 80%;
    }

    .rodape {
        padding: 5% 0;
    }


}